*{
    margin: 0;
    padding: 0;
    font-family: "Oprn Sans" ,sans-serif;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

header{
    padding: 15px 60px;

}

.menu{
    width: 42%;
    float: right;
    list-style: none;
}
.menu li{
    
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #545454;
    font-size: 20px;
    float: left;
}.menu li :hover{
     background: yellow;
}
.menu li :hover a{
color: #000;

}
.menu li a{
    
    text-decoration: none;
    font-family: monospace;
    color: #545454;
    text-transform: uppercase;
}


.about-section{
    background: url(download5.jpg) no-repeat left ;
    background-size: 100%;
    background-color: black;
    overflow: hidden;
    padding: 100px 0;

}
.inner-container{
    width: 55%;
    float: right;
    background-color: black;
    padding: 150px;
}
.inner-container h1{
    color: #545454;
    margin-top: 3opx;
    font-size: 30px;
    font-weight: 900;
}
.text{
    font-size: 13px;
    color:#545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}
@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}
@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}
